// variables for general purpos

$main-font-family: 'Montserrat', sans-serif;
$main-font-color: #484848;
$main-site-transition: 0.4s;

// variables for header
$header-nav-padding: 30px 0;
$nav-item-font-size-lg: 16px;
$nav-item-font-size-sm: 14px;
$nav-login-btn-font-size-lg: 16px;
$nav-login-btn-font-size-sm: 14px;
// title
$header-title-font-size-lg: 72px;
$header-title-font-size-md: 48px;
$header-title-font-size-sm: 36px;
$header-title-font-size-xs: 24px;
// subtitle
$header-subtitle-font-size-lg: 30px;
$header-subtitle-font-size-md: 25px;
$header-subtitle-font-size-sm: 20px;
$header-subtitle-font-size-xs: 18px;
//------------------------------------------------------------------------------
$nav-homepage-font-size: 24px;
$nav-item-right-offset: 30px;
$nav-login-btn-width: 120px;
$nav-login-btn-height: 35px;
//------------------------------------------------------------------------------
$header-form-color: #333;
$header-form-location-inputs-width: 330px;
$header-form-location-inputs-height: 50px;
$header-form-date-input-height: 52px;
$header-form-date-btn-height: 52px;
